################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SE_project/bin/Debug/net8.0-windows
/SE_project/obj
/Tests
/UnitTestProject1
/packages

SE_project_test/bin/Debug/net8.0-windows/SE_project_test.deps.json

SE_project_test/bin/Debug/net8.0-windows/SE_project_test.dll

SE_project_test/bin/Debug/net8.0-windows/SE_project_test.pdb

SE_project_test/bin/Debug/net8.0-windows/SE_project.deps.json

SE_project_test/bin/Debug/net8.0-windows/SE_project.dll

SE_project_test/bin/Debug/net8.0-windows/SE_project.exe

SE_project_test/bin/Debug/net8.0-windows/SE_project.pdb

SE_project_test/obj/Debug/net8.0-windows/ref/SE_project_test.dll

SE_project_test/obj/Debug/net8.0-windows/refint/SE_project_test.dll

SE_project_test/obj/Debug/net8.0-windows/SE_project_test.AssemblyInfo.cs

SE_project_test/obj/Debug/net8.0-windows/SE_project_test.AssemblyInfoInputs.cache

SE_project_test/obj/Debug/net8.0-windows/SE_project_test.assets.cache

SE_project_test/obj/Debug/net8.0-windows/SE_project_test.csproj.AssemblyReference.cache

SE_project_test/obj/Debug/net8.0-windows/SE_project_test.csproj.CoreCompileInputs.cache

SE_project_test/obj/Debug/net8.0-windows/SE_project_test.dll

SE_project_test/obj/Debug/net8.0-windows/SE_project_test.pdb

SE_project_test/obj/Debug/net8.0-windows/SE_project_test.sourcelink.json

SE_project_test/obj/project.assets.json

SE_project_test/obj/project.nuget.cache

SE_project_test/obj/SE_project_test.csproj.nuget.dgspec.json

SE_project_test/obj/SE_project_test.csproj.nuget.g.props

SE_project_test/obj/SE_project_test.csproj.nuget.g.targets

SE_project_test/SE_project_test.csproj

SE_project/SE_project.csproj
